# Notebook & Python cache
.ipynb_checkpoints/
__pycache__/
*.pyc

artifacts/*

# Raw data
data/raw/
data/interim/*
data/processed/*.parquet

*.pcap
*.pcapng
*.pt
*.log
*.tmp
*ipynb_chechpoints/
*.zip
